.am-search-input input[type="search"],
.am-search-cancel {
    font-size: 12px;
}

.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    margin-top: 9px;
    width: 40% !important;
}

.am-card-header-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.am-card-header-content img {
    width: 14px;
    height: 14px;
}

.am-card-footer {
    font-size: 12px;
}

.am-card-body img {
    vertical-align: middle;
}

.am-card-footer-extra img {
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.conentleft {
    float: left;
    width: 45%;
}

.conentleft img {
    width: 100%;
}

.conentright {
    float: right;
    width: 50%;
}

.conentright h4 {
    overflow: hidden;
    /*溢出隐藏*/
    word-break: break-all;
    /*关闭遇空格换行*/
    text-overflow: ellipsis;
    /*溢出显示省略号*/
    -webkit-line-clamp: 3;
    /*设置几行文字*/
    -webkit-box-orient: vertical;
    /*设置文字的垂直对齐方式*/
    display: -webkit-box;
    /*让当前盒子为伸缩盒子*/
}

.conentright span {
    display: block;
    margin: 5px 0;
}

.indexNewsFangyuan {
    background-color: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

h4 {
    margin: 10px 0;
    padding: 0;
}

.indexNewsFangyuan h3 {
    padding-left: 22px;
    background: url(http://127.0.0.1:8086/public/ico/14.png) no-repeat left center;
}

.issueImg img {
    width: 14px;
    height: 14px;
}

.catLeft {
    float: left;
    width: 20%;
    height: 80px;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: #fff;
}

.catLeft img {
    width: 100%;
}

.catRight {
    float: left;
    width: 80%;
    min-height: 80px;
}

.catRight .am-card-header {
    padding: 10px 15px;
}

.catRight .am-card-body {
    padding-top: 5px;
    min-height: 25px;
}

.catRight .am-card-body::before {
    background-color: transparent !important;
}

.catRight::before,
.catRight::after {
    background-color: transparent !important;
}

.am-tab-bar-item {
    background-color: #eee;
}

/*清除浮动*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    border-bottom: 1px solid #ddd;
    height: 100%;
    /* padding: 0 5px; */
}